html
    include includes/head.pug

    body
        main(
            class="d-flex flex-column justify-content-around"
            style="min-width: 100vw; min-height: 100vh;"
        )
            div(class="h-100 d-flex justify-content-around")
                div(class="col-md-12")
                    h1(
                        class="text-center font-monospace mb-5"
                        style="font-size: 76px;"
                    ) About this project.
                    div(class="d-flex justify-content-around")
                        div(class="border border-dark border-2 border-start-0 border-end-0 p-4 mb-5")
                            p(class="h4 text-center fw-100", style="font-weight: 100;") This website has been built on Node.js using Express.js.
                            p(class="h4 text-center fw-100", style="font-weight: 100;") Built using Pug as a view engine and Bootstrap for the CSS.
                            p(class="h4 text-center fw-100 mb-0", style="font-weight: 100;") This website includes third-party content from 'Catfacts.ninja' and 'TheCatApi'.
                        
                    div(class="d-flex justify-content-around")
                        a(
                            href="/"
                            class="btn btn-outline-dark p-2"
                        ) Go to Home page

        include includes/footer.pug