html
    include includes/head.pug

    body(class="no-scroll")
        header(class="col-12 px-5 py-4 d-flex justify-content-around bg-light")
            div(class="col-md-6 d-flex flex-column justify-content-around")
                p(class="h1 font-monospace cursor-pointer mb-0") Easy Cats!
            
            div(class="col-md-6")
                ul(class="no-decoration h-100 d-flex justify-content-end")
                    li(class="col-5 d-flex flex-column justify-content-around me-3")
                        a(
                            href="/", 
                            class="btn btn-outline-dark p-2"
                        ) Go to Home page

                    li(class="col-5 d-flex flex-column justify-content-around")
                        a(
                            href="/about", 
                            class="btn btn-outline-dark p-2"
                        ) Go to About page

        main(class="col-12 p-5 d-flex justify-content-around mt-4")
            div(class="col-lg-8 col-md-12")
                div(class="col-12 d-flex justify-content-between bg-dark text-light rounded px-4 py-3 mb-3")
                    h1(class="mb-0") Facts about cats
                    span(id="refresh", class="cursor-pointer")
                        svg(xmlns="http://www.w3.org/2000/svg", width="50", height="50", fill="currentColor", class="bi bi-arrow-repeat", viewBox="0 0 16 16")
                            path(d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z")
                            path(fill-rule="evenodd", d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z")
                
                h3(class="border-start border-5 border-dark px-3 py-4 mb-4 fade-in", style="font-weight: 100;")= fact
                p(
                    class="h5 mb-0",
                    style="font-weight: 100;"
                ) Source: 
                    a(href="https://catfact.ninja/", target="_blank") CatFact Ninja

            div(class="col-md-3 col-sm-12 text-center")
                img(
                    src=image
                    width='100%'
                    height='auto'
                    class="rounded fade-in-img"
                )

        include includes/footer.pug
        
        script.
            document.querySelector("#refresh").addEventListener("click", () => {
                location.reload();
            });