html
    include includes/head.pug

    body
        main(
            class="d-flex flex-column justify-content-around"
            style="min-width: 100vw; min-height: 100vh;"
        )
            div(class="h-100 d-flex justify-content-around")
                div(class="d-flex flex-column")
                    div(class="col-12")
                        h1(
                            class="font-monospace mb-5"
                            style="font-size: 76px;"
                        ) Easy Cats!
                    div(class="col-md-12 d-flex justify-content-around")
                        a(
                            class="btn btn-outline-dark p-2" 
                            href="/cats"
                        ) Go to Cats page
                        a(
                            class="btn btn-outline-dark p-2" 
                            href="/about"
                        ) Go to About page
        
        include includes/footer.pug
